<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAI</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        

        <!-- Cabecera -->
        <div class="grid-container">
            
            <div class="header">
                <img class="imagenLogo" src="/content/img/uai-vertical.png" alt="Logo" />
                <h2>¿Hay vida en otros planetas? - Sistemas Solares #445 </h2>
            </div>

            <div class="izquierda"></div>
            <div class="centro" style="background-color:#ccc;">

                <!-- Contenido -->
                <section>
                    <article>
                        <img class="imagen" src="/content/img/explosion.jpg" alt="FotoExpansion" />
                        <figcaption> Figura: expansión del Hubble </figcaption>
                        @RenderBody()
                    </article>
                </section>

            </div>
            <div class="derecha" style="background-color:white;">

                <!-- Contenido relacionado-->
                <aside id="pub">
                    <article>
                        <div>
                            <h3 class="contenidoRelacionado">Contenido relacionado</h3>
                            <div>
                                <ul>

                                    <li><a href="/Home/Cosmo">Constelaciones</a> </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </aside>

            </div>

            <!-- Pie de pagina -->
            <div class="footer">

                <p class="textoFooter">¿Hay vida en otros planetas? - &copy; @DateTime.Now.Year - Rodrigo Bórquez | Parcial 1</p>
            </div>
        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>